* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-image: url('back.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .envelope-container {
    position: relative;
    cursor: pointer;
    max-width: 90vw;
    text-align: center; /* Centraliza o conteúdo dentro do envelope */
  }
  
  .envelope-mens, .envelope-salmo, .envelope-name {
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .envelope-salmo {
    font-family: 'Satisfy', cursive;
    font-size: 15px;
  }
  
  .envelope-mens {
    font-family: 'Satisfy', cursive;
    font-size: 20px;
  }
  
  .envelope-name {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
  }
  
  .envelope {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .envelope:hover {
    transform: scale(1.05);
  }
  
  /* Estilo dos ícones */
  .icons-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
  }
  
  .icon img {
    width: 50px;
    height: auto;
    margin-bottom: 5px;
  }
  
  .icon span {
    text-align: center;
  }
  
  .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #b84a39;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 10;
  }
  
  .close:hover {
    background-color: #a23b34;
  }
  
  video {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
  }
  
  /* Ajustes para telas menores */
  @media (max-width: 600px) {
    .close {
      padding: 8px;
    }
  
    .envelope {
      max-width: 80vw;
    }
  
    video {
      max-width: 100%;
    }
  }