* {
    box-sizing: border-box; /* Adiciona box-sizing para melhor controle de layout */
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-image: url('back.png'); /* Altere para o nome da sua imagem */
    background-size: cover; /* Ajusta para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .envelope-container {
    position: relative;
    cursor: pointer;
    max-width: 90vw; /* Limita a largura máxima a 90% da largura da tela */
  }

  .envelope-salmo {
   
    font-family: 'Satisfy', cursive;
    font-size: 15px; /* Ajuste o tamanho da fonte conforme preferir */
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.2; /* Ajuste do espaçamento entre as linhas */
  }

  .envelope-mens {
    font-family: 'Satisfy', cursive;
    font-size: 20px; /* Ajuste o tamanho da fonte conforme preferir */
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.2; /* Ajuste do espaçamento entre as linhas */
  }

  .envelope-name {
    font-family: 'Dancing Script', cursive;
    font-size: 40px; /* Ajuste o tamanho da fonte conforme preferir */
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
  }
  
  
  .envelope {
    width: 100%; /* Faz com que a imagem do envelope ocupe 100% da largura do contêiner */
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .envelope:hover {
    transform: scale(1.05);
  }
  
  .video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #b84a39;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 10; /* Garante que o botão fique acima do vídeo */
  }
  
  .close:hover {
    background-color: #a23b34;
  }
  
  video {
    width: 100%; /* Faz com que o vídeo ocupe 100% da largura do contêiner */
    max-width: 600px; /* Define uma largura máxima para o vídeo */
    border-radius: 8px; /* Bordas arredondadas para o vídeo */
  }
  
  /* Media Queries para ajustes em telas menores */
  @media (max-width: 600px) {
    .close {
      padding: 8px; /* Aumenta o padding do botão em telas menores */
    }
  
    .envelope {
      max-width: 80vw; /* Limita a largura do envelope em telas menores */
    }
  
    video {
      max-width: 100%; /* Ajusta a largura máxima do vídeo em telas menores */
    }
  }


  